p.error {
    color: red;
}

div h3.success {
    color: #09dd09;
}

/* a[href] {
    background-color: aqua;
} */
a[href="https://www.google.com"] {
    background-color: yellow;
    color: purple;
    text-decoration: none;
    font-weight: bold;
}
a[href="https://www.wikipedia.com"] {
    background-color: lightgray;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
a[href*="youtube"] {
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a[href*="snaptube"] {
    background-color: white;
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}
a[href$=".org"] {
    background-color: cyan;
    color: slateblue;
    text-decoration: none;
    font-weight: bold;
}